* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
  font-weight: 400;
}

:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-blue: hsl(236, 100%, 87%);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-blue);
}

#grid {
  max-width: 1110px;
  height: 520px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 30px;
}

#grid > * {
  font-size: 18px;
  color: white;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 18px;
  background-repeat: no-repeat;
  background-position: right 15px top -5px;
}

#work {
  background-color: var(--Light-red-work);
}

#play {
  background-color: var(--Soft-blue-play);
}

#study {
  background-color: var(--Light-red-study);
}

#exercise {
  background-color: var(--Lime-green-exercise);
}

#social {
  background-color: var(--Violet-social);
}

#self-care {
  background-color: var(--Soft-orange-self-care);
}

.grid-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Dark-blue);
  border-radius: 18px;
  height: 83%;
  padding: 30px;
}

.grid-element div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 67%;
}

.grid-element-back:hover {
  cursor: pointer;
  .grid-element {
    background-color: hsl(236, 41%, 32%);
  }
}

.grid-element p {
  color: hsl(235, 58%, 82%);
}

#grid-user-back {
  background-color: var(--Dark-blue);
  grid-row: span 2;
  justify-content: space-between;
}

#timeframe {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

#grid-user-back p {
  font-size: 18px;
  font-weight: 400;
  width: fit-content;
  color: var(--Desaturated-blue);
}

#grid-user {
  height: 67%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--Blue);
  border-radius: 18px;
  padding: 30px;
  color: rgba(255, 255, 255, 50%);
}

#grid-user-back p:hover {
  color: white;
  cursor: pointer;
}

#grid-user img {
  width: 85px;
  height: 85px;
  border: 4px solid white;
  border-radius: 50%;
}

h2 {
  font-size: 56px;
  font-weight: 300;
}

h3 {
  font-size: 40px;
  font-weight: 300;
  color: white;
}

h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 img:hover {
  filter: brightness(2);
  cursor: pointer;
}

h4 img {
  width: 21px;
  height: 5px;
}

p {
  font-size: 15px;
}

/* Media queries */

@media screen and (min-width: 375px) {
  @media screen and (max-width: 790px) {
    body {
      align-items: start;
    }

    #grid {
      grid-template-columns: repeat(2, 1fr);
      height: auto;
      width: 90%;
    }
    #grid-user-back {
      grid-column: span 2;
      grid-row: 1fr;
    }
    #grid-user {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    #timeframe {
      flex-direction: row;
      justify-content: space-around;
    }
    .grid-element-back {
      height: 220px;
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    align-items: start;
  }
  #grid {
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    margin: 25px;
    gap: 25px;
  }

  #grid-user {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  #grid-user img {
    width: 70px;
    height: 70px;
  }

  #timeframe {
    flex-direction: row;
    justify-content: space-between;
  }

  .grid-element div {
    flex-direction: row;
    align-items: center;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
  .grid-element-back {
    height: 160px;
  }

  .grid-element {
    height: 120px;
  }
}
